# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=SEED2NEED Core
Comment=SEED2NEED Core QT main network
GenericName=SEED2NEED Digital Currency QT client main network
Exec=seed2need-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/seed2need.png
MimeType=x-scheme-handler/seed2need;
Categories=X-Office;X-Finance;
Keywords=internet;seed2need;zsilo;silo;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
