# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=SEED2NEED Core Daemon SNAP
Comment=testnet
GenericName=SEED2NEED Digital Currency Daemon Client testnet network
Exec=seed2need-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/seed2need_testnet.png
MimeType=x-scheme-handler/silo;
Categories=X-Office;X-Finance;
Keywords=internet;seed2need;zsilo;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
